button {
  height: 3em;
  width: 80%;
  color: white;
  border-radius: 16px;
}
form {
  @media (max-width: 768px) {
    width: 80%;
  }
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
