<!---->
<div
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #fff;
    border-bottom: 2px solid #00000040;
  "
>
  <!--TODO: Place this in CSS file-->

  <p class="title">Medi-Core</p>

  <div class="navLinks" style="position: relative">
    <a routerLink="/home" class="link">Home</a>
    <a routerLink="/signup" class="link">Sign Up</a>
    <a routerLink="/signin" class="link">Sign In</a>
    <div
      class="userDetails"
      style="display: flex; padding: 0.5em; gap: 0.625em; align-items: center"
    >
      <img src="https://placehold.net/avatar.svg" alt="" style="height: 3.125em; height: 3.125em" />
      <div style="display: flex; flex-direction: column; line-height: normal">
        <!-- <p class="fullName" style="font-size: 0.875em">User's Name</p>-->
        <!--The user name
        <p class="role" style="color: #afafaf; font-size: 0.875em">Admin</p> -->
        <!--The user's role we have admin,docotor,nurse,,receptionist,patient-->
      </div>
    </div>
  </div>
</div>
