// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  // Source - https://stackoverflow.com/a/61282745
  // Posted by Morfinismo, modified by community. See post 'Timeline' for change history
  // Retrieved 2026-05-27, License - CC BY-SA 4.0
  .whiteSpinner {
    @include mat.progress-spinner-overrides(
      (
        active-indicator-color: #ffffff,
        //white
      )
    );
  }
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
  --Inter: 'Inter', sans-serif;
  --Lora: 'Lora', serif;
  --accent-color: #14b8a6;
  --bold: 700;
  --font-4: 1.125em;
  --grey: #afafaf;
  --base: clamp(1em, 1.0417vw, 2em);
  --bg-color-blue: #0f172a;
  --font-1: 0.75em;
  --font-2: 0.875em;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}
* {
  line-height: normal;
}
body.no-scroll {
  overflow: hidden;
}
.Logo {
  height: 45px;
  width: 45px;
  border-radius: 8px;
}
.Icons {
  height: 45px;
  width: 45px;
  border-radius: 8px;
}
.textWhite {
  color: white;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: var(--Inter);
  font-weight: 400;
  box-sizing: border-box;
}

p {
  //   font-size: clamp(1em, 2vw, 4.5em);
  margin: 0;
}
.splash-text {
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.title {
  font-weight: 700;
}
a {
  text-decoration: none;
  outline: none;
  color: #1e40af;
}
a:active {
  font-weight: 700;
}
a:hover {
  text-decoration: none;
}
// input {
//   height: 2.75em;
//   padding-left: 0.3em;
//   padding-right: 0.3em;
//   width: 95%;
//   border: 1px solid #d1d2d6;
// }
// input:focus {
//   outline: 1px solid #415588;
//   box-shadow: 0 0 0 4px #e5e9ef;
// }
.inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 6px;
}
input[type='email'],
input[type='password'],
input[type='text'],
select {
  outline: none;
  border: none;
  width: 100%;
  min-width: 0;
  background: transparent;
  // background: url('../../../../public/email.svg');
  // background-repeat: no-repeat;
}
.input-wrapper,
select {
  display: flex;
  height: 2.75em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  //   width: 95%;
  border: 1px solid #d1d2d6;
  align-items: center;
  width: 100%;
}
.input-wrapper:focus-within {
  outline: 1px solid #415588;
  box-shadow: 0 0 0 4px #e5e9ef;
}

// label {
//   font-weight: 500;
// }
.primary-btn {
  background-color: #0f172a;
}
button:hover {
  cursor: pointer;
}
