<div
  style="padding: 1em; height: 100%; display: flex; flex-direction: column; gap: 2em; color: white"

>
  <div style="display: flex; flex-direction: column">
    <div style="align-self: flex-end; padding: 0 1em 0 1em">
      <img src="harmburger.svg" alt="" />
    </div>
    <div style="display: flex; flex-direction: column; gap: 0.75em">
      <p>MAIN</p>

      <div style="display: flex; gap: 0.75em; flex-direction: column">
        <a
          style="display: flex; align-items: center; margin: 0.75em 0.75em auto"
          routerLink="/admin"
        >
          <img src="dashboard.svg" alt="" style="height: 15px; width: 15px" />
          <p>Dashboard</p>
        </a>
        <a
          style="display: flex; align-items: center; margin: 0.75em 0.75em auto"
          routerLink="/patients"
        >
          <img src="dashboard.svg" alt="" style="height: 15px; width: 15px" />
          <p>Patient</p>
        </a>
        <a style="display: flex; align-items: center; margin: 0.75em 0.75em auto">
          <img src="dashboard.svg" alt="" style="height: 15px; width: 15px" />
          <p>Appointment</p>
        </a>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; gap: 0.75em">
    <p>CLINICALS</p>

    <div style="display: flex; gap: 0.75em; flex-direction: column">
      <div style="display: flex; align-items: center; margin: 0.75em 0.75em auto">
        <img src="dashboard.svg" alt="" style="height: 15px; width: 15px" />
        <p>Department</p>
      </div>
      <div style="display: flex; align-items: center; margin: 0.75em 0.75em auto">
        <img src="dashboard.svg" alt="" style="height: 15px; width: 15px" />
        <p>Pharmacy</p>
      </div>
      <div style="display: flex; align-items: center; margin: 0.75em 0.75em auto">
        <img src="dashboard.svg" alt="" style="height: 15px; width: 15px" />
        <p>Lab</p>
      </div>
    </div>
  </div>
</div>
