.layout {
  display: flex;
  min-height: 95vh;
}
.left-panel {
  background-color: #0f172a;
  flex: 0 1 35%;
  min-width: 0;
}
.right-panel {
  flex-grow: 1;
  padding: 1em 0.5em 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  margin: 3.75em 4.5em 3.75em 4.75em;
}
progress {
  width: 100%;
}
.create-user-form {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}
input {
  width: 100%;
}
